/**FactTerm Weight Edit**/
#weight-edit {
    width:70%;
}

input[id$="fact_term"] {
    width: 100%;
}

/**Fix grappelli iobject link image not to break**/
.grp-collapse.grp-closed > .grp-collapse-handler .stay-inline {
    display: inline !important;
}