{% extends "mantis_malte/grappelli/base.html" %}

{% load dingos_tags %}

{% block title %}
    {{ object.iobject_type.name }}
{% endblock %}

{% block content_title %}
  <h1>{{ object.name }}</h1>
{% endblock %}


{% block content %}
<div id="correlation-view">
    {% show_InfoObjectIDData object %}
    <div class="grp-module grp-collapse grp-open">
        <h2 class="grp-collapse-handler">Possible Correlating Facts</h2>
        <table class="grp-full-width">
                {% for corr_info in corr_dict.values %}
                <tr class="grp-row">
                    <th>
                        <label>Fact Value</label>
                    </th>
                    <td>
                            {{ corr_info.value }}

                    </td>
                    <th rowspan="2" class="border-bottom">
                        <label>Occurs in</label>
                    </th>
                    <td rowspan="2" class="border-bottom">
                        <a href="{%url 'url.dingos.view.infoobject' pk=corr_info.iobject_id %}">{{ corr_info.iobject_name }}</a>
                        {% reachable_packages corr_info.iobject_id %}
                        <br />
                        {% if forloop.last %}
                            <a href="{%url 'url.dingos.view.infoobject' pk=corr_info.iobject_id %}">{{ corr_info.iobject_name }}</a>
                    {%reachable_packages corr_info.iobject_id %}
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th class="border-bottom">
                        <label>Fact Term</label>
                    </th>
                    <td class="border-bottom">
                       {{ corr_info.term }}
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
