{% extends "mantis_malte/grappelli/base.html" %}

{% load dingos_tags %}

{% block title %}
    {{ object.iobject_type.name }}
{% endblock %}

{% block content_title %}
  <h1>{{ object.name }}</h1>
{% endblock %}


{% block content %}
<div id="correlation-view">
    {% show_InfoObjectIDData object %}
    <div class="grp-module grp-collapse grp-open">
        <h2 class="grp-collapse-handler">Correlations (Grouped by correlated fact)</h2>
        <table class="grp-full-width">
                <tr class="grp-row">
                    <td>Fact</td>
                    <td>Occurs in </td>
                    <td>Referenced from</td>
                </tr>
                {% for matching_io2fv in matching_io2fvs %}

                <tr class="grp-row">
                    <td>
                        {% if matching_io2fv.attribute %}
                           {{ matching_io2fv.term }}@{{ matching_io2fv.attribute }}
                        {% else %}
                           {{ matching_io2fv.term }} = {{ matching_io2fv.value }}
                        {% endif %}
                    </td>
                    <td>

                        <a href="{%url 'url.dingos.view.infoobject' pk=matching_io2fv.iobject_id %}">
                            {% show_namespace_image matching_io2fv.iobject_identifier_uri height='25' %}:{{ matching_io2fv.iobject_identifier_uid }}</a>
                        <br/>
                        {{ matching_io2fv.iobject_name }}

                    </td>
                    <td>
                    {% reachable_packages matching_io2fv.iobject_id %}
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
