{% extends "mantis_malte/grappelli/base.html" %}

{% load dingos_tags %}

{% block title %}
    {{ view.title }}
{% endblock %}

{% block content_title %}
  <h1>{{ view.title }}</h1>
{% endblock %}

{% block content %}
    <form id="fact-term-weight-edit" action="" method="post">{% csrf_token %}
    <div class="grp-group grp-tabular" id="weight-edit">
        <h2>H2 Headline</h2>
        <div class="grp-module grp-table">
            <div class="grp-module grp-thead">
                <div class="grp-tr">
                    <div class="grp-th">Fact Term</div>
                    <div class="grp-th">Current Weights</div>
                    <div class="grp-th">New Weight</div>
                </div>
            </div>
            {% for id,factterm in factterms.items %}
                <div class="grp-module grp-tbody grp-dynamic-form">
                    <div class="grp-tr">
                        <div class="grp-td">
                            {{ factterm.term }}
                        </div>
                        <div class="grp-td nowrap w-1">
                            {% for weight in factterm.weights %}
                                {% if not forloop.last %}
                                    {{ weight }}<br />
                                {% else %}
                                    {{ weight }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="grp-td nowrap w-1">
                            {{ form }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grp-module">
            {% if view.is_paginated %}
                {%  render_paginator  %}
            {% endif %}
        </div>
    </div>
    <footer>
        <input type="submit" name="update_weight" class="grp-button grp-default" value="Save">
    </footer>
    </form>
{% endblock %}